@tailwind base;
@tailwind components;
@tailwind utilities;

.a4-size {
  width: 940px;
  height: 1369px;
}

.border-10 {
  border-width: 10px;
}

@layer base {
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-semibold;
  }
  p {
    @apply text-base
  }
}